*[hidden] {
    display: none;
}

video.bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 110%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #000;
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#divVideo {
    opacity: 0.6;
}

.darken {
    padding: 10px;
    position: fixed;
    min-width: 200vw;
    min-height: 200vw;
    width: auto;
    height: auto;
    z-index: -99;
    background-color: rgba(0, 0, 0, 0.75);
}

nav {
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

#search.center {
    top: 50%;
    position: fixed;
    /* center the element */
    text-align: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}

.center {
    top: calc(50% - 10em);
    position: fixed;
    /* center the element */
    text-align: center;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
}

.default-cursor {
    cursor: default !important;
}

.results {
    display: block;
    width: auto;
    height: auto;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #999;
    background-color: #222;
    background-image: none;
    border: 1px solid #080808;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}